#root {
  margin: 0 auto;
  padding: 1rem;
  text-align: center;

  background-color: white;;
}

.main {
  display: flex;
  justify-content: center;
  flex-direction: column;

  width: 80%;
  max-width: 450px;
  aspect-ratio: 1 / 1.25;
}

.body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.invalid-message {
  margin: 5px;
  padding: 10px;
  border: solid 1px;
  background-color: rgb(148, 148, 148);
}